DATABASE_URL=sqlite:///./robosurg.db
SECRET_KEY=mude-esta-chave-em-producao
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480
TELEGRAM_BOT_TOKEN=seu-token-aqui
TELEGRAM_ENFERMEIRO_CHEFE_ID=id-do-chat
HOSPITAL_NOME=Nome do Hospital
